
h1{
    color: rgb(13, 55, 90);
    text-shadow:2px 4px 2px lightblue;
    
}
.project-container{
    max-height: 250vh;
}


.project-title h1 {
    
    color: rgb(32, 7, 80); /* Text color */
    font-size: 4.5rem;
    

    font-weight: 400; /* Font size */
    text-shadow: 2px 4px 4px rgba(52, 108, 211, 0.7); /* Adds a shadow for better visibility */
}

.project-title img{
    
    border-radius: 7rem 5rem 5rem 1rem;
}
.project-title h3{
    color: rgb(33, 4, 104);

    margin-left: 7rem;
    font-size: 1.5rem;
    line-height: 4rem;
}
.service-intro {
    width: 800px; /* Set a maximum width for better readability */
    margin: 20px auto; /* Center the div horizontally */
    padding: 2px; /* Add padding for spacing */
    text-align: center; /* Center align the text */
    font-size: 1.2rem; /* Adjust font size */
    line-height: 2; /* Increase line height for readability */
    color: #333; /* Set text color */
    border-radius: 8px; /* Add rounded corners */
    
}
.service-intro h1{
    color: rgb(13, 55, 90);
    text-shadow:2px 4px 2px lightblue;
    padding-bottom: 1rem;
    line-height: 1.5;
    /* white-space: nowrap; */

}
.header-right{
    margin-left: 1rem;
    
    width: 45rem;
    
}

.button{
    border: 2px solid rgb(237, 230, 230);
    background-color: rgba(29, 169, 184, 0.727);
    margin-left: 15rem;
    color: rgb(12, 7, 52);
    font-size: larger;
    font-weight: 600;
   
    border-radius: 2rem;
    
}
.service-types{
    text-align: center;
    padding-left: 25rem;
}
.service-types h3{
    white-space: nowrap;
}